@import '../../../scss/_variables.scss';
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&.profile {
		> .count .heading {
			color: #775f5f;
		}
	}
	> .count {
		width: 25%;
		font-size: 24px;
		text-align: center;
		> .heading {
			color: $purple;
			text-transform: capitalize;
		}
		.number {
			font-weight: bold;
		}
	}
}
