@import '../../../scss/variables';
@import '../../../scss/animations';

.heading {
	display: flex;
	align-items: center;

	> img {
		margin-right: 9px;
	}
}
.wrapper {
	border-radius: 10px;
	background-color: $dark-purple;
	margin: 0 auto;
	width: 90%;
	> .row {
		display: flex;
		align-items: center;
		> div {
			width: 30%;
			padding: 15px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			> i,
			> span,
			> input {
				font-size: 18px;
				color: $white;
			}
			> input {
				border: none;
				outline: none;
				background-color: transparent;
				width: 30px;
				&:first-child {
					text-align: right;
					animation: opacity 0.4s ease;
				}
			}
			> .checkbox {
				cursor: pointer;
			}
			> i {
				font-style: normal;
				margin: 0 2px;
			}

			&:nth-child(2) {
				width: 50%;
				border-left: 1px solid $purple;
				border-right: 1px solid $purple;
			}
		}
		&:first-child {
			border-bottom: 1px solid $purple;
		}
		&:last-child > div {
			padding-bottom: 100px;
		}
		&.completed {
			> div {
				color: $accent;
				> i {
					margin: -1px;
				}
				> input,
				i {
					color: $accent;
					text-decoration: line-through;
					cursor: default;
				}
			}
		}
		.opacity {
			opacity: 0.7;
		}
	}
}
